{% extends 'base.html' %}
{% load static %}

{% block title %}
    Projects List
{% endblock title %}

{% block content %}
<section class="projects-section center-column">
    <h2 class="subtitles">Projects</h2>
    <div class="userBtns">
      {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'newproject' %}">Add new Project</a>
      {% endif %}
    </div> 
    <div class="projects-list center-row">

    {% for project in projects %}
    <!-- For each item in our context -->
      
      <div class="pcard">
        <a href="{{ project.repository }}" target="_blank">
          <img src="{{ project.image.url }}" alt="{{ project.name}} image">
          <p class="card-title">{{ project.name }}</p>
          <p>{{ project.description }}</p>
          <p>Made: {{ project.year }}</p>
          
          <div class="pskills">
            {% for skill in project.skills.all %}
            <label class="text-label">{{ skill.name }}</label>
            {% endfor %}
          </div>
        </a>
      </div>
      {% endfor %}
    
    </div>
  </section>
{% endblock content %}